.content__wrapper {
  max-width: 700px;
  width: 100%;
}
.input__button {
  border: 2px solid #ffcc00;
  color: #ffcc00;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  outline: none;
  &:hover {
    color: #ff2d55;
    border-color: #ff2d55;
  }
}

.input__field {
  height: 25px;
  border: none;
  color: #fff;
  border-radius: 7px;
  background: none;
  outline: none;
  background: #2b2b2b;
  &:focus {
    background: #fff;
    color: black;
  }
}

.label {
  color: #8c8c8c;
  padding: 5px;
  font-weight: bold;
}

.close {
  width: 30px;
  height: 30px;
  font-size: 23pt;
  border: 3px solid #E91E63;
  /* padding: 5px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.description {
  padding: 25px;
  font-size: 17pt;
}
.notify {
  color: #fff;
  text-align: center;
  img {
    width: 200px;
    margin-top: 25px;
    position: relative;
  }
}