<template>
    <div id="application">
        <Loading v-if="loading"></Loading>
        <transition name="slide">
            <keep-alive>
                <!--<component v-if="!loading" :is="currentComponent"></component>-->
                <router-view></router-view>
            </keep-alive>
        </transition>
    </div>
</template>
<script>
    import Engi from './Engi.vue';
    import Dictionary from './Dictionary.vue';
    import Header from './Header.vue';
    import Loading from './Loading.vue';
    import { LOAD_ALL_WORDS, INIT } from '../store/actionsTypes.js';

    export default {
        computed: {
            token() {
                return this.$store.state.token;
            },
            loading() {
                return this.$store.state.loading;
            },
            currentComponent() {
                return this.$store.state.currentComponent;
            }
        },
        beforeUpdate() {
            // !this.token && this.$router.push('auth');
        },
        mounted() {
            this.$store.commit(INIT);
        },
        methods: {

        },
        components: {
            Header, Engi, Dictionary, Loading
        }
    }
</script>
<style lang="less">
    .fade-enter-active, .fade-leave-active {
        transition: .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
    .rotate_fade-enter-active{
        transform: rotateY(0deg) rotateZ(0deg);
        transition: .5s;
    }
    .rotate_fade-enter, .rotate_fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
        transform: rotateY(-90deg) rotateZ(30deg);
    }

    .slide-enter-active, .slide-leave-active {
        transition: .3s;
        transform: translateX(0)
    }
    .slide-enter {
        //transform: translateX(-1300px);
        opacity: 0;
    }
    .slide-leave /* .fade-leave-active до версии 2.1.8 */ {
        //transform: translateX(1300px);
        opacity: 0;
    }
    body {
        background: #0e0e0e;
        padding: 0;
        margin: 0;
        font-family: Proxima, Roboen, Arial;
        max-height: 100vh;
        max-width: 100vw;
        user-select: none;
    }
    @font-face {
        font-family: Proxima; /* Гарнитура шрифта */
        src: url('/fonts/proximanovacond.otf');
    }
    #application {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>