<template>
    <div id="auth">
        <h1>Авторизация</h1>
        <form>
            <label>
                <div class="label">Логин</div>
                <input type="text" v-model="login" class="input__field" />
            </label>
            <label>
                <div class="label">Пароль</div>
                <input type="password" v-model="password" class="input__field">
            </label>
            <input type="button" @click="auth" class="input__button" value="Авторизироваться"/>
        </form>
        <div class="token" v-if="token">
            Ваш токен: {{ token }}
        </div>
    </div>
</template>
<script>
    import { AUTH } from '../store/actionsTypes.js';
    export default {
        data() {
            return {
                login: '',
                password: ''
            }
        },
        computed: {
            token() {
                this.$store.state.token && setTimeout(() => {
                    this.$router.push('/')
            }, 1000);
                return this.$store.state.token;
            }
        },
        methods: {
            auth() {
                console.log('Авторизация')
                this.$store.dispatch('AUTH', {
                    login: this.login,
                    password: this.password
                });
            }
        }
    }
</script>
<style lang="less">
    #auth {
        max-width: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            color: #fff;
        }
        .token {
            font-size: 7pt;
            margin-top: 25px;
            color: #585858;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            label {
                width: 70%;
                .label {
                    color: #8c8c8c;
                    padding: 5px;
                    font-weight: bold;
                }
                .input__field {
                    margin: 0 0 25px 0;
                    height: 25px;
                    width: calc(100% - 20px);
                    border: none;
                    color: #fff;
                    padding: 10px;
                    border-radius: 7px;
                    background: none;
                    outline: none;
                    background: #2b2b2b;
                    font-size: 20pt;
                    &:focus {
                        background: #fff;
                        color: black;
                    }
                }
            }

            .input__button {
                margin: 10px;
                border: 2px solid #ffcc00;
                color: #ffcc00;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                background: none;
                font-size: 15px;
                outline: none;
                &:hover {
                    color: #ff2d55;
                    border-color: #ff2d55;
                }
            }
        }
    }
</style>