<template>
    <div id="Dictionary">
        <table>
            <thead>
                <tr>
                    <td>Слово</td>
                    <td>Перевод</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="word in words">
                    <td>{{ word.ru }}</td>
                    <td>{{ word.en }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import { LOAD_ALL_WORDS } from "../store/actionsTypes";
    import Loading from '../components/Loading.vue';
    export default {
        data() {
            return {

            }
        },
        computed: {
            words() {
                return this.$store.state.allWords;
            },
        },
        methods: {
            loadAllWords() {
                this.$store.dispatch(LOAD_ALL_WORDS);
            }
        }
    }
</script>
<style lang="less">
    #Dictionary {
        h3 {
            color: #fff;
        }
        width: 100%;
        max-width: 700px;
        table {
            color: #fff;
            max-width: 600px;
            width: 100%;
            thead {
                font-size: 20pt;
            }
            tbody {
                tr {
                    border-bottom: 1px solid #fff;
                    font-size: 16pt;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        outline: 1px solid #ffcc00;
                        font-size: 19pt;
                    }
                    td {
                        padding: 10px;
                    }
                    &:nth-child(odd) {
                        background: #171717;
                        color: white;
                    }
                }
            }
        }
    }
</style>