<template>
    <div id="Engi" v-if="token">
        <div class="category">
            Категория: <b>{{ category }}</b>
            <div class="changeCategory" v-if="categoryIsOpen">
                <div class="description">Вы можете сами выбрать нарпавление, в котором хотите изучать слова, и тогда обучение будет еще эффективнее!</div>
                <div class="close" @click="openOrCloseCategory">x</div>
                <input type="text" class="input__field" placeholder="Введите категорию" v-model="category" />
                <div class="categories">
                    <div class="category">{{ category }}</div>
                </div>
            </div>
        </div>
        <div class="words">
            <div v-if="word" v-for="(word, index) in words" :style="{
                                                                    zIndex: index === currentWordId
                                                                        ? words.length
                                                                        : (index > currentWordId && index !== currentWordId
                                                                            ? words.length - index
                                                                            : index)
                                                                    }" class="word current"
                                                                    :class="{
                                                                                next: currentWordId > index,
                                                                                prev: currentWordId < index
                                                                            }">
                <div class="en" >{{ word.en }}</div>
                <transition name="fade">
                    <div class="ru" v-if="currentWordId > index">{{ word.ru.slice(0, 3).join(',') }}</div>
                </transition>
                <transition name="rotate_fade">
                    <div class="ru" v-if="currentWordId === index && help">
                        <span v-for="(letter, index) in word.ru[0]">{{ index % 3 === 0 || index < 2 ? letter : letter === ' ' ? ' ' : ' _ ' }}</span>
                    </div>
                </transition>
            </div>
            <div class="notify" v-if="words.length === 0">
                <div>Слова в данной категории не найдены, выберите другую</div>
                <img src="https://fk.by/image/notfound.png" />
            </div>
        </div>
        <div class="settings" @click="openOrCloseCategory">
            Выбрать категорию
        </div>
        <div class="control">
            <div class="button" :class="{block: this.score < 5}" @click="showHelp">Подсказка</div>
            <div class="button" :class="{block: this.score < 10}" @click="goNext('skip')">Пропустить</div>
        </div>
        <div class="answer_form">
            <input type="text" v-model="answerWord" @input="answer" placeholder=""/>
        </div>
    </div>
</template>
<script>
    import { LOADING, LOADED, RESET_WORDS } from '../store/actionsTypes.js';
    import {LOAD_WORDS} from "../store/actionsTypes";
    import '../less/interface.less'
    export default {
        data() {
            return {
                currentWordId: 0,
                maxLoaded: 10,
                answerWord: '',
                score: 28880,
                help: false,
                category: 'Общение',
                categoryIsOpen: false,
                // words: [],
            }
        },
        computed: {
            token() {
                if (!this.$store.state.token) this.$router.push('auth');
                return this.$store.state.token;
            },
            allWords() {
                console.log('Обновились слова вычисляемые', this.$store.state.allWords);
                return this.$store.state.allWords;
            },
            words() {
                console.log('Обновились слова current вычисляемые', this.$store.state.words);
                return this.$store.state.words;
            }
        },

        mounted() {
            this.loadWords();
        },
        methods: {
            getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min)) + min;
            },
            openOrCloseCategory() {
                this.categoryIsOpen = !this.categoryIsOpen;
                this.resetWords();
                this.loadWords();
            },
            answer() {
                console.log(this.words[this.currentWordId].ru);
                if (this.words[this.currentWordId].ru.join(',').toLowerCase().split(',').indexOf(this.answerWord.toLowerCase()) !== -1) {
                    this.goNext();
                } else {

                }
            },
            goNext(type) {
                this.answerWord = '';
                this.help = false;

                this.$nextTick(() => {
                    if (this.currentWordId >= this.words.length - 1) {
                        this.loadWords();
                    }
                });

                switch (type) {
                    case 'skip':
                        if (this.score >= 10) {
                            this.score -= 10;
                            this.currentWordId += 1;
                        } else {
                            //alert("Стоимость пропуска 10 очков!");
                            return;
                        }
                        break;
                    default:
                            this.score++;
                            this.currentWordId += 1;
                        break;
                }
            },
            showHelp() {
                if (this.score >= 5) {
                    this.help = true;
                    this.score -= 5;
                } else {
                    //alert('Стоимость подсказки 5 очков');
                }
            },
            loadWords() {
                this.$store.dispatch(LOAD_WORDS, {
                    amount: 10,
                    category: this.category
                });
            },
            resetWords() {
                this.currentWordId = 0;
                this.$store.commit(RESET_WORDS);
            }
        }
    }
</script>
<style lang="less">
    .changeCategory {
        position: fixed;
        background: #1b1b1b;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .close {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        input {
            font-size: 20pt;
            width: 70%;
            padding: 10px;
        }
    }
    #Engi {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        padding-bottom: 0px;
        background: #181a1f;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .category {
            color: #fff;
            font-size: 20pt;
            margin-top: 25px;
            font-weight: 900;
            text-align: center;
            .changeCategory {
                .category {
                    border-left: 2px solid #FFC107;
                    padding: 10px;
                }
            }
            b {
                color: #e91f62;
            }
        }
        .words {
            margin-top: 25px;
            width: 90%;
            height: 200px;
            position: relative;
            .word {
                width: 50%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-weight: bold;
                color: #000;
                font-size: 40pt;
                background: #fff;
                position: absolute;
                transition: transform .5s;
                transform: scale(1) translateX(100% * 0.5) rotateY(0deg);
                border: 1px solid black;
                border-radius: 10px;
                word-wrap: break-word;
                text-align: center;
                box-shadow:0 -1px 20px 8px rgba(0, 0, 0, 0.3);
                overflow: hidden;
                .ru {
                    color: #ff2e54;
                    font-size: 20pt;
                    word-break: break-word;
                    width: 90%;
                }
                .en {
                    width: 90%;
                }
                &.next {
                    transform: scale(0.66) translateX(100% * 1.75);
                    box-shadow: none;
                }
                &.prev {
                    transform: scale(0.66) translateX(-100% * 0.26%);
                    box-shadow: none;
                    background: black;
                    color: white;
                }
            }
        }
        .settings {
            margin: 25px 0;
            color: #E91E63;
            border-top: 2px solid #E91E63;
            border-bottom: 2px solid #E91E63;
            padding: 5px;
            cursor: pointer;
        }
        .control {
            width: 100%;
            display: flex;
            justify-content: center;
            .button {
                margin: 10px;
                border: 2px solid #ffcc00;
                color: #ffcc00;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    color: #ff2d55;
                    border-color: #ff2d55;
                }
                &.block {
                    cursor: not-allowed;
                    color: grey;
                    border-color: grey;
                }
            }
        }
        @media (max-height: 550px) {
            .score {display: none;}
            .control {display: none;}
        }
        .answer_form {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            input {
                width: 40%;
                padding: 0;
                margin: 0;
                border: none;
                height: 40px;
                font-size: 20pt;
                background: none;
                outline: none;
                border-bottom: 3px solid #ffcc00;
                color: white;
                text-align: center;
                transition: .3s;
                &:focus {
                    border-bottom: 3px solid #ffcc00;
                    width: 100%;
                }
            }
        }
    }
</style>