<template>
    <div id="header">
        <ul class="menu">
            <router-link to="/">
                Играть
            </router-link>
            <!--<router-link to="dictionary">-->
                <!--Словарь-->
            <!--</router-link>-->
            <!--<router-link to="auth">-->
                <!--Авторизация-->
            <!--</router-link>-->
            <!--<router-link to="register">-->
                <!--Регистрация-->
            <!--</router-link>-->
        </ul>
        <div class="logo">
            <span class="main" >Engi</span>
            <span class="additional">game</span>
        </div>
    </div>
</template>
<script>
    import {CHANGE_COMPONENT} from "../store/actionsTypes";
    export default {
        data() {
            return {

            }
        },
        computed: {
            currentComponent() {
                return this.$store.state.currentComponent
            }
        },
        methods: {
            changeComponent(componentName) {
                this.$store.dispatch(CHANGE_COMPONENT, componentName)
            }
        },

    }
</script>
<style lang="less">
    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: black;
        width: 100%;
        padding: 10px 0;
        font-size: 30pt;
        color: #fff;
        .menu {
            display: flex;
            padding: 0;
            margin: 0;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 13pt;
                display: block;
                margin: 0 10px 0 0;
                &:hover {
                    color: #ff2e54;
                }
                &.router-link-exact-active {
                    color: #ffcc00;
                }
            }
        }
        .logo {
            .main {
                font-weight: 900;
                color: #ffcc00;
            }
            .additional {
                font-weight: bold;
                font-size: 15pt;
            }
        }
    }
</style>