<template>
    <img class="loading" src="https://gifimage.net/wp-content/uploads/2017/10/colorful-loader-gif-transparent-13.gif" />
</template>
<style>
    .loading {
        position: fixed;
        top: 20px;
        bottom: 0;
        right: 20px;
        width: 50px;
        height: 50px;
        z-index: 9999;
    }
</style>