<template>
    <div id="NewWord" class="content__wrapper">
        <h1>Добавление слова</h1>
        <form>
            <label>
                <div class="label">Слово</div>
                <input type="text" v-model="data.en" class="input__field" required/>
                <div class="words">
                    <div>{{ en }}</div>
                </div>
            </label>
            <label>
                <div class="label">Переводы <span class="little">( через пробел )</span></div>
                <input type="text" v-model="data.ru" class="input__field" required />
                <div class="words">
                    <div v-for="word in ru" v-if="word" class="word">{{ word }}</div>
                </div>
            </label>
            <label>
                <div class="label">Направление</div>
                <input type="text" v-model="data.direction" class="input__field" required />
                <div class="words">
                    <div v-for="word in directions" @click = "selectDirection(word)" v-if="word" class="word">{{ word }}</div>
                </div>
            </label>
            <input type="button" @click="addWord" class="input__button" value="Добавить слово"/>
        </form>
    </div>
</template>
<script>
    import '../less/interface.less';
    import { ADD_WORD } from '../store/actionsTypes.js';

    export default {
        data() {
            return {
                data: {
                    en: '',
                    ru: '',
                    categoryId: 1,
                    direction: ''
                },
                allDirections: ['Программирование', 'Общение', 'Физика', 'Медицина', 'Автомобили', 'Еда']
            }
        },
        computed: {
            directions() {
                if (this.data.direction.length > 0)
                return this.allDirections.filter((direction) => {
                    return direction.toLowerCase().indexOf(this.data.direction.toLowerCase()) !== -1
                })
            },
            en() {
                return this.data.en
            },
            ru() {
                return this.data.ru.replace('  ', ' ').split(' ').filter((word) => word.length > 0)
            }
        },
        methods: {
            selectDirection(direction) {
                this.data.direction = direction;
            },
            addWord() {
                this.$store.dispatch(ADD_WORD, {
                    en: this.en,
                    ru: this.ru,
                    category: this.direction,
                })
            }
        }
    }
</script>
<style lang="less">
    #NewWord {
        h1 {
            color: #fff;
            text-align: center;
        }
        .words {
            width: 100%;
            .word {
                border: 2px solid #ffcc00;
                display: inline-flex;
                color: #fff;
                /* padding: 5px; */
                padding: 5px;
                margin: 10px 10px 0 0;
                border-radius: 5px;
                &:nth-child(odd) {
                    border-color: #ff2d55;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            label {
                width: 70%;
                .little {
                    font-size: 8pt;
                    color: #fff;
                    font-weight: 300;
                }
            }
        }
        .input__button {
            /* margin: 10px; */
            padding: 10px;
            font-size: 15px;
            bottom: 50px;
            position: absolute;
        }
        .input__field {
            margin: 0 0 25px 0;
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 20pt;
        }
    }
</style>