<template>
    <div id="Register" class="content__wrapper">
        <h1>Регистрация</h1>
        <form>
            <label>
                <div class="label">Логин*</div>
                <input type="text" v-model="user.login" class="input__field" required/>
            </label>
            <label>
                <div class="label">Пароль*</div>
                <input type="password" v-model="user.password" class="input__field" required />
            </label>
            <label>
                <div class="label">Подтверждение пароля*</div>
                <input type="password" v-model="user.passwordRepeat" class="input__field" required />
            </label>
            <label>
                <div class="label">Имя</div>
                <input type="text" class="input__field" v-model="user.name" />
            </label>
            <label>
                <div class="label">Почта</div>
                <input type="email" class="input__field" v-model="user.mail"/>
            </label>
            <input type="button" @click="register" class="input__button" value="Зарегистрироваться"/>
        </form>
    </div>
</template>
<script>
    import '../less/interface.less';
    import { REGISTER } from '../store/actionsTypes.js';
    export default {
        data() {
            return {
                user: {
                    name: '',
                    password: '',
                }
            }
        },
        methods: {
            register() {
                if (this.user.login.length < 4) {
                    alert('Логин пользователя должно быть длиннее 4х символов');
                    return;
                }
                if (this.user.password.length < 4) {
                    alert('Пароль не должен быть короче 4х символов');
                    return;
                }
                if (this.user.password !== this.user.passwordRepeat) {
                    alert('Подверждение пароля не совпадает с паролем');
                    return;
                }
                this.$store.dispatch(REGISTER, this.user);
            }
        }
    }
</script>
<style lang="less">
    #Register {
        display: flex;
        align-items: center;
        flex-direction: column;
        .input__button {
            margin: 10px;
            padding: 10px;
            font-size: 15px;
        }
        .input__field {
            margin: 0 0 25px 0;
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 20pt;
        }
        h1 {
            color: #fff;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            label {
                width: 70%;
            }
        }
    }
</style>